.quad-wallet_parentDiv{
    width: 100%;
    min-height: 750px;
    background-image: url("../../../assets/Slice\ 2.png");
    background-size: cover;
    margin-top: 60px;
}
.quad-wallet_childDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.quad-wallet_img{
    width: 50%;
}
.quad-wallet_img>img{
    width: 100%;
    height: 90%;
}
.quad-wallet_title{
    color: #ffff;
    text-align: center;
    font-weight: 700;
font-size: 50px;
line-height: 102px;
}
.quad-wallet_subtitle{
    color: #ffff;
    font-weight: 700;
font-size: 30px;
line-height: 61px;
text-align: center;
}
.quad-wallet_description>li{
    font-weight: 700;
    font-family: "Saira Semi Condensed";
font-size: 24px;
line-height: 60px;
letter-spacing: 1.5px;
color: #ffff;
}
.quad-wallet_description>li:nth-child(odd){
    color: #FFC107;
}